/* style.css */

/* Resetando algumas configurações padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #048a23; /* Cor de fundo do site */
}

/* Cabeçalho */
header {
    width: 100%;
    text-align: center;
    background-color: #01923d;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.texto {
    color: white;
    font-size: 14px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Container principal da página */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos do formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #01923d;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para a tabela */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 10px;
}

th {
    background-color: #f4f4f4;
}

/* Botões de ações (exclusão) */
.delete-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #e53935;
}

/* Responsividade */
@media screen and (max-width: 600px) {
    .logo-container {
        flex-direction: column;
    }

    .container {
        padding: 15px;
        width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    button, .delete-button {
        width: 100%;
    }
}
