/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Configurações do corpo */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #048a23;
}

/* Cabeçalho */
header {
    width: 100%;
    background-color: #01923d;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Texto do cabeçalho */
.texto {
    color: white;
    font-size: 14px;
    text-align: center;
}

/* Container do logo */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Área principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Estilo do container do formulário */
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 450px;
}

/* Título */
h2 {
    color: #048a23;
    margin-bottom: 20px;
}

/* Campos de entrada */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    border-color: #048a23;
    outline: none;
}

/* Botão */
button {
    width: 100%;
    padding: 10px;
    background: #048a23;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #03731c;
}

/* Mensagem de erro */
.erro {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 500px) {
    .container {
        width: 95%;
    }
}
.button{
    
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    
    color: white;
    background-color: #048a23;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
