/* Reset básico */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #048a23;
}

/* Cabeçalho */
header {
    width: 100%;
    text-align: center;
    background-color: #01923d;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo-container p {
    font-size: 14px;
    color: white;
}

/* Container Principal */
.main-container {
    margin-top: 80px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
   
}

/* Título */
h2 {
    color: #048a23;
    margin-bottom: 15px;
    text-align: center;
}

/* Tabela */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

th {
    background-color: #048a23;
    color: white;
}

/* Inputs dentro da tabela */
td input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Botões */
button {
    padding: 10px 15px;
    background-color: #048a23;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(245, 123, 0);
}

/* Botão Voltar */
.btn-voltar {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #048a23;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-voltar:hover {
    background-color: #d96a00;
    border-color: white;
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
    .main-container {
        width: 95%;
    }
    
    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}
